<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <!-- specifies the version of WCF to use-->
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_MyWebService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/GettingStarted/MyWebService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_MyWebService"
                contract="MyWebService" name="WSHttpBinding_MyWebService">
                <identity>
                    <dns value="localhost" />
                    <userPrincipalName value="PC\HomePC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>